.titlecardapio {
  color: #322017;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 3px solid #50230C;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: "Verdana", sans-serif;
}

.cardcardapio {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.cardimagecardapio {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardtitle {
  color: #50230C;
  margin: 5px 0;
  font-size: 16px;
}

.descriptioncardapio {
  color: #745348;
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.cardprice {
  font-weight: bold;
  color: #3f291d;
  font-size: 18px;
}

.buttoncardapio {
  background-color: #F6C1CC;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 13px;
  width: 80%;
  color: #5A3A2E;
  font-weight: bold;
  cursor: pointer;
  box-shadow: #42261E 2px 4px 6px;
}

.buttoncardapio:hover {
  background-color: #ffb5c4;
  transition: 0.5s;
}

/* ===== LISTA DE CARDS ===== */
.cardapiolista {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.sectioncontainer {

  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto 60px auto;
}


/* BOX QUE SEPARA AS DUPLAS */
.boxrosa {
  background-color: #ffe7ec;
  padding: 40px 20px;
  border-radius: 20px;
  margin-bottom: 40px;
  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
