.cardproduct {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.cardimage {
    /* width: 100%; */
    height: 100px;
    object-fit: cover;
     border-radius: 8px;
    margin-bottom: 10px;
}

.cardtitle {
    color: #50230C;
    margin: 5px 0;
    font-size: 16px;
}
.carddescription {
    color: #745348;
    font-size: 14px;
    margin: 5px 0 10px 0;
}