.footerstyle {
    background-color: #50230C;
    color: #fff;
    text-align: center;
    padding: 15px 30px;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}
.footertextmain {
    font-size: 0.875rem;
    margin: 5px;
}
.footertextcopy {
    font-size: 0.75rem;
    margin: 5px;
    color: #f3f3f3;
}