body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color: #f5f5f5;
}
.cardlistcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.pagecontainer {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

    .sectioncardcontainer {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    }
    * {
  box-sizing: border-box;
}
