.headerstyle {
  background-color: #F6C1CC;
  color: #5A3A2E;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.24);
  position: relative;
 
}
.headerlogocontainer {
     display: flex;
  align-items: center;
  gap: 10px;
}
.logoheader {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.logotext {
    font-size: 30px;
    font-weight: bold;
   font-family: "Georgia", serif;
}
.navmenu {
      display: flex;
  gap: 25px;
    align-items: center;
    font-family: "Verdana", sans-serif;
}
.navlink {
    color: #5A3A2E;
    text-decoration: none;
    font-size: 18px;
}
.navlink:hover {
   color: #000000;
   transition: 0.5s;
}