.hero {
  width: 100%;
  background-color: #ffe7ec;
  text-align: center;
  padding: 80px 20px;
  border-bottom: #42261E 4px solid;
}

.hero h1 {
  font-size: 48px;
  color: #5A3A2E;
}

.hero p {
  font-size: 20px;
  margin: 20px 0;
  color: #745348;
}

.buttoncardapio {
  background-color: #5A3A2E;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 30px;
  font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: #42261E 2px 4px 6px;
}
.buttoncardapio:hover {
  background-color: #42261E;
  transition: 0.5s;
}