.contatocontainer {
  width: 100%;
  padding: 80px 20px;
  text-align: center;
}

.contatotitulo {
  display: inline-block;
  color: #322017;
  font-size: 30px;
  font-family: "Verdana", sans-serif;
  border-bottom: 3px solid #50230C;
  padding-bottom: 10px;
}

.contatoform {
  max-width: 480px;
  margin: 0 auto;
}

.contatoinput {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.contatobotao {
  width: 100%;
  padding: 14px;
  background-color: #F6C1CC;
  color: #5A3A2E;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
}

.contatobotao:hover {
      background-color: #ffb5c4;
  transition: 0.5s;
}
