.contactform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contactinput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}
.sectioncardcontainer textarea {
    width: 50%;
    margin: 0 auto;
    height: 150px;
    resize: none;
}
.contactbutton {
    background-color: #50230c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 8px;
    width: 50%;
    margin: 0 auto;
}