.titlepqescolher {
  display: inline-block;
  color: #322017;
  font-size: 30px;
  font-family: "Verdana", sans-serif;
  border-bottom: 3px solid #50230c;
  padding-bottom: 10px;
}
.pagecontainer {
  text-align: center;
}
