.titlepqescolher {
 color: #322017;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #50230C;
    padding-bottom: 10px;
    font-size: 30px;
      font-family: "Verdana", sans-serif;
}